<!-- <%- include("partials/header.ejs") %> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .title-display{
            background-color: #73020290;
            width: 80vh;
            text-align: center;
            color: #F0F2DC;
            font-size: 2rem;
            height: auto;
            padding: 10px;
        }
        .form{
            display: grid;
             grid-template-rows: auto auto auto;
             justify-content: center;
             align-items: center;
        }.button-container{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}
        .submit-button{
    width: 60px;
    height: 36px;
    background-color: #730202;
    color: #F0F2DC;
    margin-bottom: 20px;
} .text-page{
    height: 100vh;
    background-color: #BF5D5460;
    margin: 50px;
    overflow: scroll;
    width: 100vh;
}
body{
    margin: 0px;
    background-color: #F0F2DC;
}

#navbar{
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 0;
    background-color: #0D0D0D;
    padding-bottom: 5px;
    justify-content:center;
    align-items: center;
}

#brand-name{
    font-size: 2.5rem;
    font-family: "Sour Gummy", sans-serif;
    margin-left: 15px;
    color: #F0F2DC;
}

.nav-item{
    color: #F0F2DC;
    text-decoration: none;
}
.box{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #73020280;
    padding: 30px;
}#sure,.success-delete{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}.text{
    grid-area: 1 / 1 / 2 / 3;
}

.sure-button{
    height: 50px;
    background-color: #730202;
    color: #F0F2DC;
    font-size: 1.25rem;
    width: 100px;
}
.footer{
    background-color: #0D0D0D;
    color: #F0F2DC;
    padding: 3px;
}

    </style>
</head>
<body>
    <div id="navbar">
            <div id="brand-name">BlogSpot</div>
            <div><a class="nav-item home" href="/home">Home</a></div>
            <div><a class="nav-item about" href="/about">About</a></div>
            <div><a class="nav-item contact" href="/contact">Contact</a></div>
            <div><a class="nav-item donate" href="/donate">Donate</a></div>
    </div>
<div id="sure">
<div class="box">
    <input type="hidden" name="fileSD" value="<%= fName %>">
    <div class="text"><h2>Are you sure you want to delete "<%= title_d %>"?</h2></div>
    <form action="/deleted/<%= fName %>" method="post"><div class="button-container"><input type="submit" class="yes sure-button " value="Yes"></div></form>
    <form action="/delete"><div class="button-container"><input type="submit" class="no sure-button button-container" value="Cancel"></div></form>
</div></div>
</form>
<footer>
    <div class="footer">
        <p >© Wriescape 2025</p>
    </div>
</footer>
</body>
</html>
<!-- <%- include("partials/footer.ejs") %> -->